#contacts {
    position: fixed;
    bottom: 2%;
    right: 1.5%;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    height: fit-content;
    border-radius: 0.3rem;
    z-index: 2;
}

#contacts > a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    display: block;
    line-height: 2.2rem;
}