#menu {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    min-height: 4rem;
    background-color: rgb(65, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px  azure solid;
    flex-wrap: wrap;
    z-index: 1000;

}

#menu>div {
    padding: 0.5%;
    align-self: center;
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    min-width: fit-content;
}

#menu a {
    color: white;
    background-color: rgb(65, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
}

/*hover effect*/
#menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: rgb(255, 248, 211);
    opacity: 0;
    transition: 0.4s ease;
}

#menu a:hover::after {
    width: 100%;
    opacity: 1;
}
/*hover effect*/

@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column !important;
        align-items: stretch !important;
    }

    #menu>div {
        max-width: 100% !important;
        height: fit-content !important;
        max-height: 4rem !important;
    }

    #menu a {
        font-size: 1.5rem !important;
        padding: 12px !important;
    }
}

#choosen>a {
    color: rgb(170, 169, 169);
}