#menu {
    margin-top: auto;
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    min-height: 4rem;
    background-color: rgb(65, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px azure solid;
    flex-wrap: nowrap;
    z-index: 1000;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    user-select: none;
}

#menu>div {
    padding: 0.5%;
    align-self: center;
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    min-width: fit-content;
}

#menu a {
    color: white;
    background-color: rgb(65, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

#menu a:hover {
    /* Add this */
    transform: scale(1.1);
}

/*hover effect*/
#menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: rgb(255, 248, 211);
    opacity: 0;
    font-size: 3rem;
    transition: width 0.4s ease, opacity 0.4s ease;
}

#menu a:hover::after {
    width: 100%;
    opacity: 1;
}

/*hover effect*/

@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        align-items: stretch;
    }

    #menu>div {
        max-width: 100%;
        height: fit-content;
        max-height: 4rem;
    }

    #menu a {
        font-size: 1.5rem;
        padding: 12px;
    }
}

#choosen > a {
    color: rgb(170, 169, 169);
    transform: scale(1.1);
}

#choosen>a::after {
    width: 100%;
    opacity: 1;
}

#menu::-webkit-scrollbar {
    height: 10px;
}

#menu::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
}

#menu::-webkit-scrollbar-track {
    background: transparent;
}